.base-page-container {
  min-height: calc(100vh - 200px);

  &__content {
    width: 100%;
    max-width: 1272px;
    padding: 0 16px;

    &--full {
      max-width: initial;
      padding: 0;
    }
  }
}