.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  z-index: 99;
  background-color: #4c84ff;

  .content-header {
    max-width: 1240px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
    color: white;
    font-weight: 500;
    font-size: 18px;

    .button {
      border-radius: 16px;
      font-size: 14px;
    }
    .user-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }
}
