@import '../color-variables.scss';
@import '../mixins.scss';

.main {
  background-color: $bg1;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 9999;
  background-color: $bg1;
  border-bottom: 1px solid $border;

  .content-header {
    max-width: 1320px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
    color: white;
    font-weight: 500;
    font-size: 18px;

    .button {
      border-radius: 16px;
      font-size: 14px;
    }
    .user-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }

  .menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    a {
      @include text-large-regular;
      display: block;
      margin-right: 40px;
      color: $paragraph;

      &:hover {
        color: $title;
      }
      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: $title;
      }
    }
  }

  .header-mobile {
    height: calc(100vh - 80px);
    background-color: $bg1;

    .menu-mobile {
      flex-direction: column;
      height: 100%;
      align-items: center;
      padding-top: 80px;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      color: $paragraph;

      a {
        display: block;
        margin-bottom: 40px;

        &:hover {
          color: $title;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.active {
          font-weight: 500;
          color: $title;
        }
      }
    }
  }

  .btn-close {
    border: 2px solid #41495f;
    border-radius: 48px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
