@import '../color-variables.scss';
@import '../mixins.scss';

.main {
  background-color: $bg1;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  z-index: 99;
  background-color: $bg1;
  border: 1px solid $border;

  .content-header {
    max-width: 1320px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
    color: white;
    font-weight: 500;
    font-size: 18px;

    .button {
      border-radius: 16px;
      font-size: 14px;
    }
    .user-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }

  .menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    a {
      @include text-large-regular;
      display: block;
      margin-right: 40px;
      color: $paragraph;

      &:hover {
        color: $title;
      }
      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: $title;
      }
    }
  }
}

.footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
