@import '../color-variables';
@import '../variables';
@import '../mixins.scss';

.app-query-menu {
  padding: 0 !important;

  > span {
    flex: initial;
  }

  &__list {
    border: unset;
    min-width: 109px;
    border-radius: 6px;
    border: none;
    min-width: 104px !important;

    .chakra-menu__menuitem {
      &:hover,
      &:focus {
        background: #0060db !important;
        color: white !important;
      }

      color: $bg1 !important;
    }
  }
}
