@import '../appStyles.scss';

.searchWrapper {
  width: 100%;
  @media screen and (min-width: $breakpoints_md) {
    width: 200px;
  }
  .leftIconWrapper,
  .rightIconWrapper {
    .searchButton {
      background: inherit;
      border-radius: inherit;
      &:active {
        background: inherit;
        transform: none;
        border-color: transparent;
      }
      &:focus {
        box-shadow: none;
      }
      &:hover {
        cursor: default;
      }
      .searchIcon {
        width: 15px;
        height: 15px;
      }
    }
  }
  .searchInput {
    font-size: small;
    font-weight: 500;
    @media (max-width: 280px) {
      &::placeholder {
        font-size: 12px;
      }
    }
  }
}
