@import '../color-variables.scss';
@import '../mixins.scss';

.app-tab {
  &__name-tab {
    @include text-small-regular;

    color: $paragraph;
    height: max-content !important;
    font-size: 16px !important;
    box-shadow: none;
    margin-right: 14px;

    svg {
      margin-right: 10px;
    }

    &[aria-selected='true'] {
      @include text-small-bold;

      svg {
        color: #1878ff;
      }

      box-shadow: none !important;
      color: $title;
      margin-bottom: -1px;
      border-bottom: 2px solid #1878ff;
    }

    .tab-name-content {
      font-weight: 700;
      font-size: 16px;
    }

    &__detail {
      padding: 0 10px;
    }
  }

  &__content-tab {
    padding: 0 !important;
  }
}
