@import '../mixins.scss';

.bar-chart,
.line-chart,
.pie-chart,
.scatter-chart,
.area-chart {
  path.recharts-tooltip-cursor {
    display: none !important;
  }

  .custom-tooltip {
    font-size: 14px;
    background-color: #696969;
    border-radius: 4px;
    padding: 6px 8px;
    // width: 200px;

    &__desc {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: column;
      margin-top: 4px;

      span:nth-child(1) {
        position: absolute;
        padding: 3px;
        border-radius: 100px;
        background-color: aliceblue;
        top: 50%;
        transform: translateY(-50%);
      }
      span:nth-child(2) {
        margin: 0 10px;
      }
    }
  }
  .custom-legend {
    padding-left: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;

    @include mobile {
      display: none;
    }

    span:nth-child(2) {
      right: 0px;
      position: absolute;
      padding: 3px;
      border-radius: 100px;
      background-color: aliceblue;
      top: 50%;
      transform: translateY(-50%);
    }

    span:nth-child(1) {
      padding-right: 10px;
      cursor: pointer;
    }

    .hide-legend {
      opacity: 0.5;
    }
  }
}
