@import '../mixins.scss';

.visual-container__visualization--bar {
  path.recharts-tooltip-cursor {
    display: none !important;
  }
}
.bar-chart,
.line-chart,
.pie-chart,
.scatter-chart,
.area-chart {
  .custom-tooltip {
    background-color: #1a203b;
    border-radius: 6px;
    font-size: 14px;
    padding: 5px 10px;
    color: #8d91a5;
    // width: 200px;

    &__desc {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: column;
      margin-top: 4px;
      .tooltip-value {
        font-weight: 600;
      }
    }
  }
  .custom-legend {
    padding-left: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;

    @include mobile {
      display: none;
    }

    span:nth-child(1) {
      left: 0px;
      position: absolute;
      padding: 3px;
      border-radius: 100px;
      background-color: aliceblue;
      top: 50%;
      transform: translateY(-50%);
    }

    span:nth-child(2) {
      padding-right: 10px;
      cursor: pointer;
    }

    .hide-legend {
      opacity: 0.5;
    }
  }
}
