.editor-sidebar {
  .row-element {
    margin-bottom: 8px;
  }

  .select-chains {
    width: 40%;

    .chakra-select {
      height: 32px;
    }
  }
  .header-table {
    cursor: pointer;
    &:hover {
      background: #ffffff1a;
    }
    padding: 4px;
    margin-left: -4px;
    border-radius: 4px;
  }

  .list-schema {
    max-height: 468px;
    overflow: auto;
  }
}

.schema-title {
  &:hover {
    background: #ccc;
  }
}

.row-name-wrap {
  .row-name {
    width: 80%;
    padding: 4px 8px;
    border-radius: 6px;
    &:hover {
      background-color: #1a203b;
    }
    &__row {
      width: 80%;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .row-icon {
    width: 20%;
  }
}

.dataset-title {
  padding: 4px 8px;
  cursor: pointer;
  &:hover {
    border-radius: 6px;
    background-color: #1a203b;
  }
}
