.editor-sidebar {
  .row-element {
    margin-bottom: 8px;
  }

  .select-chains {
    width: 40%;

    .chakra-select {
      height: 32px;
    }
  }
}

.schema-title {
  &:hover {
    background: #ccc;
  }
}

.table-name {
  padding: 4px 8px;
  border-radius: 6px;
  &:hover {
    background-color: #1a203b;
  }
}
.dataset-title {
  padding: 4px 8px;
  cursor: pointer;
  &:hover {
    border-radius: 6px;
    background-color: #1a203b;
  }
}
