@import '../color-variables';
@import '../variables';
@import '../mixins.scss';

.editor-sidebar-wrap {
  width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include mobile {
    flex-direction: column-reverse;
    .query-info-wrap {
      margin-bottom: 20px;
    }
  }
  .editor-sidebar {
    max-width: 380px;
    width: 380px;
    padding: 20px;
    background-color: #101530;

    @include desktop {
      max-width: 100%;
    }

    .row-element {
      margin-bottom: 8px;
    }

    .select-chains {
      width: max-content;
      min-width: 40%;

      .app-select__menu {
        position: absolute;
        background: #272D52;
        border-radius: 8px;
        padding: 0;
        z-index: -1;
        width: max-content;
        top: 35px;
        right: 0;
        max-height: 400px;
      }

      @include mobile {
        width: max-content;
      }

      .chakra-select {
        height: 32px;
      }
    }
    .header-table {
      cursor: pointer;
      &:hover {
        background: #ffffff1a;
      }
      padding: 4px;
      margin-left: -4px;
      border-radius: 4px;
    }

    .list-schema {
      max-height: 468px;
      overflow: auto;
    }
  }
  .query-info-wrap {
    background-color: #101530;
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;

    .query-info {
      align-items: center;
      border-bottom: 1px solid #22242d;
      padding: 8px 0px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.schema-title {
  &:hover {
    background: #ccc;
  }
}

.row-name-wrap {
  .row-name {
    width: 80%;
    padding: 4px 0;
    border-radius: 6px;

    &:hover {
      background-color: #1a203b;
    }

    &__row {
      width: 80%;
    }
  }
}

.dataset-title {
  padding: 4px 8px;
  cursor: pointer;

  &:hover {
    border-radius: 6px;
    background-color: #1a203b;
  }
}
