@import '../color-variables.scss';
@import '../mixins.scss';

.account {
  .title-heading {
    @include heading-4;
    margin-bottom: 22px;

    @include tablet {
      @include heading-6;
    }
  }

  .box-account {
    width: calc(50% - 10px);

    @include tablet {
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .box-info-account {
    padding: 30px 33px;
    height: 100%;

    @include tablet {
      padding: 20px;
    }

    .info-item {
      padding-bottom: 20px;
      border-bottom: 1px solid $border;
      margin-bottom: 20px;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .title {
        @include text-medium-bold;
        color: $line;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .label {
        @include text-medium-regular;
        color: $paragraph;
        width: 120px;

        @include tablet {
          width: 90px;
        }
      }

      .value {
        @include text-medium-regular;
        color: $title;
      }

      .btn-edit {
        color: $paragraph;
        cursor: pointer;

        &:hover {
          color: $link;
        }
      }

      .name-plan {
        @include text-medium-bold;
        color: $title;
        margin-bottom: 8px;
      }

      .detail-plan {
        @include text-medium-regular;
        color: $paragraph;
        div {
          margin-bottom: 4px;
        }

        svg {
          color: $green;
        }
      }
    }

    &.billing-info {
      justify-content: space-between;


      .info-item {
        padding-bottom: 15px;
        border-bottom: 1px solid $border;
      }

      .name-next-plan {
        @include text-medium-bold;
        color: $title;
      }

      .time {
        @include text-medium-regular;
        color: $paragraph;
      }
    }

    &.payment-method {
      .info-item {
        border: 0;
        padding: 0;
        .label {
          width: 180px;
        }
      }

      .info-payment {
        color: $paragraph;
        margin-left: 4px;
      }
    }

    &.notification {
      .email {
        @include text-medium-regular;
        color: $line;
        margin-left: 32px;

        @include tablet {
          margin-left: 0;
        }
      }
    }

    &.accounts {
      .info-item {
        margin-bottom: 0;
        padding: 0;
        border-bottom: 0;
      }
    }
  }
}

.billing {
  .title-billing {
    @include heading-5;
    align-items: center;
    margin-bottom: 22px;
    @include tablet {
      @include heading-7;
    }
  }

  .box-info-account {
    @include text-medium-regular;
    .label {
      color: $paragraph;
      width: 150px;
      @include tablet {
        margin-bottom: 10px;
      }
    }

    .value {
      color: $title;
    }
  }
}
