@import 'src/styles/abstracts/variables';
@import '../color-variables.scss';
@import '../mixins.scss';

.app-detail {
  .app-info {
    justify-content: space-between;
  }

  .btn-delete {
    color: #e31a1a;
    &:hover {
      border: 1px solid #e31a1a;
    }
  }
  .name {
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    margin-right: 40px;
  }

  .description {
    font-size: 14px;
    line-height: 25px;
    color: #8798ad;
    margin-top: 10px;
  }

  .list-nft {
    .description {
      margin-top: 0;
      font-size: 13px;
      text-transform: uppercase;
    }
    table th {
      background: #f9f9f9;
    }
    table tr {
      background-color: white;
    }
  }

  .button-create-webhook {
    text-align: center;
    color: #597dff;
    width: fit-content;
    border-bottom: 1px solid #597dff;
    text-transform: uppercase;
  }
}

.infos {
  margin-bottom: 30px;

  .box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $card;
    border-radius: 18px;
    border: 0;
    padding: 28px 22px;

    &:hover {
      background: rgba(115, 103, 240, 0.2);
      box-shadow: 0 10px 40px rgba(107, 78, 255, 0.25);
      cursor: pointer;
    }

    .label {
      @include text-medium-regular;
      margin-bottom: 4px;
      color: $paragraph;
    }

    .value {
      @include heading-6;
      color: $title;
    }
  }
}
