@import '../color-variables.scss';
@import '../mixins.scss';

.app-detail {

  .app-info {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }

  .name {
    @include heading-5;
    align-items: center;
    margin-bottom: 3px;
    @include tablet {
      @include heading-7;
    }

    .title-mobile {
      @include tablet {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
      }
    }
  }

  .box-network {
    @include text-medium-regular;
    color: $title;
    padding: 8px 18px;
    background-color: $card;
    border-radius: 20px;
    margin-right: 12px;
  }

  .app-tabs {
    margin: 0 40px;
    border-bottom: 1px solid $border;
    @include tablet {
      margin: 0 20px;
      overflow-x: scroll;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }

      & > div {
        width: max-content;
      }
    }

    .app-tab {
      @include text-large-bold;
      padding: 0 0 8px 0;
      margin-right: 40px;
      color: $line;

      @include tablet {
        width: max-content;
        margin-right: 20px;
        @include text-medium-bold;
      }

      &[aria-selected='true'] {
        box-shadow: none;
        border-bottom: 2px solid $title;
        color: $title;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &.no-tab {
      border-bottom: 0;
      color: $title;

      .app-tab {
        padding-bottom: 0;
        &[aria-selected='true'] {
          border-bottom: 0;
        }
      }
    }
  }

  .content-tab-app {
    padding: 0;
    margin-top: 30px;

    @include tablet {
      margin-top: 14px !important;
    }

    &.no-tab {
      margin-top: 0;
    }
  }

  .list-webhook {
    padding: 30px 0 0 0 !important;
    @include tablet {
      padding-top: 24px !important;
    }
  }

  .description {
    @include text-medium-regular;
    color: $paragraph;
  }

  .list-nft {
    .description {
      margin-top: 0;
      font-size: 13px;
      text-transform: uppercase;
    }
    table th {
      background: #f9f9f9;
    }
    table tr {
      background-color: white;
    }
  }

  .box-create {
    @include text-large-regular;
    color: $paragraph;
    max-width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    text-align: center;

    @include tablet {
      padding: 0 15px;
    }

    svg {
      margin-bottom: 20px;
    }

    button {
      margin-top: 20px;
    }
  }
}

.statics {
  margin-bottom: 30px;
  @include tablet {
    margin-bottom: 20px;
  }
}

.infos {
  .box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $card;
    border-radius: 18px;
    padding: 28px 20px;
    border: 1px solid $card;

    &:hover {
      background: linear-gradient(
        180deg,
        rgba(34, 108, 255, 0) -27.27%,
        rgba(34, 108, 255, 0.2) 108.18%
      );
      filter: drop-shadow(0px 10px 40px rgba(34, 108, 255, 0.25));
      cursor: pointer;
      border: 1.1px solid $blue;
    }

    .label {
      @include text-medium-regular;
      margin-bottom: 4px;
      color: $paragraph;
    }

    .value {
      @include heading-6;
      color: $title;
    }
  }

  .chart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .chartMobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .statsMobile {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .statsItemMobile {
      min-width: 80%;
      margin-right: 10px;
    }
    :last-child {
      margin-right: 0px;
    }
  }
}

.app-status {
  padding: 20px 40px !important;

  @include tablet {
    padding: 20px !important;
  }

  .box-status {
    align-items: center;
    flex-direction: row;

    @include tablet {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.basic-setting {
  margin: 30px 0;
  padding-top: 30px !important;

  @include tablet {
    padding: 20px !important;
    margin: 20px 0;
  }

  .chain-app {
    align-items: center;
    border-radius: 6px;
    background-color: $bg2;
    width: 100%;
    padding: 0 14px;
    height: 48px;
    color: $paragraph;
  }
}

.title-status {
  @include heading-6;
  line-height: 30px;
  margin-right: 50px;

  @include tablet {
    @include heading-8;
    margin-bottom: 14px;
    margin-right: 10px;
  }
}

.field-disabled {
  @include text-medium-regular;
  padding: 12px 16px;
  background-color: $bg2;
  border-radius: 6px;
  color: $paragraph;
}

.form-create {
  background-color: $card;
  @include tablet {
    padding: 20px !important;
  }

  .select-type-webhook {
    .app-select__btn-select {
      z-index: 99;
    }
  }

  .box-upload {
    background-color: $bg2;
    border: 1px dashed $line;
    border-radius: 6px;
    color: $paragraph;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    margin-bottom: 13px;

    @include tablet {
      @include text-medium-regular;
    }
  }

  .type-upload-address {
    position: absolute;
    right: 0;
    top: -5px;
  }

  .box-btn-create {
    justify-content: flex-end;
    margin-top: 20px;

    @include tablet {
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}

.view-all {
  &:hover {
    .link {
      text-decoration: underline;
    }
  }
}

.box-filter {
  justify-content: flex-end;
  margin: 30px 40px 20px 0;

  .input-search {
    @include text-medium-regular;
    background-color: $card;
    padding: 4px 35px;
    height: 32px;
    margin-left: 8px;

    &::placeholder {
      color: $paragraph;
    }
  }

  &.activities-all {
    @include tablet {
      margin: 20px;
      justify-content: space-between;
      .input-search {
        margin-left: 0;
        padding: 4px 20px 4px 45px;
      }
    }
  }
}

.link-redirect {
  color: $paragraph;
  &:hover {
    color: $link;
  }
}

.filter-table {
  position: relative;
  &:hover {
    cursor: pointer;
    color: $title;
  }

  &.active {
    color: $title;
  }

  &__box-search, &__options {
    background-color: #2f3b58;
    padding: 14px 10px;
    border-radius: 6px;
    position: absolute;
    width: 200px;
    top: 150%;

    .input-search {
      background-color: $bg2;
      @include text-small-regular;
      padding: 6px 10px;
      height: 32px;
    }
  }

  &__options {
    padding: 14px 0;
    text-transform: capitalize;
  }

  &__option {
    @include text-small-regular;
    padding: 8px 10px;

    &.active {
      background: linear-gradient(268.85deg, #226CFF 22.48%, #1084FF 83.59%);
    }
  }
}

.btn-create {
  @include text-medium-medium;
}

.box-invalid {
  margin-top: 26px !important;
  @include text-medium-regular;
}

.table-valid-address {
  background: rgba(238, 93, 80, 0.1);
  border: 1px solid $red;
  border-radius: 6px;

  .header-list {
    @include text-small-bold;
    padding: 12px 40px;
    color: $line;
    text-transform: uppercase;
  }

  .header-list,
  .content-list {
    padding: 15px 40px;
    div:first-child {
      width: 60%;
    }
    div:last-child {
      width: 40%;
      text-align: center;
    }
  }

  .content-list {
    @include text-medium-regular;
    border-bottom: 1px solid $border;

    &:last-child {
      border-radius: 0 0 6px 6px;
    }
  }
}

.file-name {
  @include text-small-regular;
  color: $title;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background-color: $bg2;
  border-radius: 6px;
  width: max-content;
  margin: 10px 0 !important;

  .icon-clear {
    color: $paragraph;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
  }
}
.stripe-form {
  iframe{
    display: block !important;
  }
}

