@import '../color-variables.scss';
@import '../mixins.scss';

.billing-page {
  .heading-title {
    @include heading-4;
    color: $title;
    margin-bottom: 26px;

    @include tablet {
      @include heading-6;
    }
  }

  .box-change-plan {
    margin-top: 20px;
    padding: 40px 40px 20px 40px;

    @include tablet {
      padding: 20px;
    }

    &__title {
      @include heading-6;
      color: $title;

      @include tablet {
        @include heading-8;
      }
    }
  }

  .list-table-wrap {
    padding: 0;

    .box-title {
      justify-content: space-between;
      align-items: center;

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
      }

      .box-btn-cancel {
        margin-right: 40px;

        @include tablet {
          margin-left: 20px;
          margin-bottom: 20px;
        }
      }
    }

    .text-title {
      @include heading-6;
      color: $title;
      padding: 30px 40px 22px 40px;

      @include tablet {
        @include heading-8;
        padding: 20px 20px 18px 20px;
      }
    }

    .table-plan {
      td {
        color: $paragraph;

        .name-plan {
          @include text-medium-bold;
          color: $title;
          text-transform: capitalize;
        }
      }
    }

    .tr-list {
      svg {
        color: $line;
      }

      &.active {
        svg {
          color: $green;
        }

        td {
          color: $title;
        }
      }

      .box-current {
        @include text-tiny-regular;
        color: $blue;
        padding: 4px 10px;
        background: rgba(3, 202, 255, 0.1);
        border-radius: 14px;
      }
    }
  }

  .payment-method {
    cursor: pointer;
    padding: 0 40px;
    width: max-content;
    align-items: center;

    &:nth-child(2) {
      margin-bottom: 24px;
    }

    @include tablet {
      padding: 0 20px;
      justify-content: space-between;
      width: 100%;

      &:nth-child(2) {
        margin-bottom: 12px;
      }
    }

    &__value {
      color: $paragraph;
    }

    .btn-edit {
      color: $paragraph;
      margin-left: 50px;
    }
  }

  .plan-card {
    .info {
      margin-bottom: 10px;
    }

    .plan-detail {
      @include text-small-regular;
      color: $paragraph;
      margin-left: 10px;

      &.price {
        margin-left: 35px;
      }
    }

    &.active {
      .plan-detail {
        svg {
          color: $green;
        }
      }
    }
  }

  .box-payment-method {
    padding: 0 0 32px 0;

    .text-title {
      @include heading-6;
      color: $title;
      padding: 30px 40px 22px 40px;

      @include tablet {
        @include heading-8;
        padding: 20px 20px 18px 20px;
      }
    }
  }

  .form-card {
    .sub-title {
      @include heading-5;
      color: $title;

      @include tablet {
        @include heading-7;
        position: absolute;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);
      }
    }

    .icon-arrow-left {
      cursor: pointer;
    }

    .box-form-crypto {
      padding: 30px 40px 14px 40px;

      @include tablet {
        padding: 20px;
      }
    }

    .box-connect-wallet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__description {
        @include text-large-regular;
        color: $paragraph;
        max-width: 400px;
        text-align: center;
        margin: 28px 0 40px 0;

        @include tablet {
          @include text-medium-regular;
          margin: 24px 0 40px 0;
        }
      }

      svg {
        @include tablet {
          width: 130px;
          height: auto;
        }
      }

      button {
        width: max-content;
      }
    }

    .amount-options {
      margin-top: 42px;

      @include tablet {
        margin-top: 0;
      }

      .amount-option {
        @include text-medium-regular;
        padding: 4px 16px;
        background-color: $disable;
        margin-left: 6px;
        border-radius: 6px;
        border: 1px solid $disable;
        color: $paragraph;
        cursor: pointer;
        height: max-content;

        &:hover {
          border: 1px solid $link;
        }

        &:first-child {
          margin-left: 10px;
        }

        @include tablet {
          @include text-small-regular;
          padding: 4px 8px;

          &:first-child {
            margin-left: 0;
          }
        }

        &.active {
          background: rgba(3, 202, 255, 0.14);
          border: 1px solid $link;
          color: $link;
        }
      }
    }
  }

  .billing-checkout {
    &__bill {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 430px;
      margin: 0 auto;

      @include tablet {
        max-width: 343px;
      }
    }

    &__bill-info {
      background-image: url('../../assets/icons/bg-billing.png');
      padding: 50px;
      background-repeat: no-repeat;
      width: 100%;

      @include tablet {
        padding: 34px;
        background-image: url('../../assets/icons/bg-billing-mobile.png');
      }
    }

    &__payment-method {
      padding-bottom: 30px;
      border-bottom: 1px dashed #2f3b58;

      .title {
        @include text-medium-bold;
        color: $line;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .type {
        @include text-medium-regular;
        color: $paragraph;
      }
    }

    &__order {
      margin-top: 30px;
      margin-bottom: 40px;

      @include tablet {
        margin-bottom: 60px;
      }

      .title {
        @include text-medium-bold;
        color: $line;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .name-plan {
        @include text-large-bold;
        margin-bottom: 4px;
      }

      .info {
        @include text-medium-regular;
        align-items: center;
        margin-top: 10px;

        svg {
          color: $green;
          margin-right: 12px;
        }
      }
    }
  }
}

.box-method {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px 44px;
  background: rgba(16, 21, 48, 0.5);
  border: 1.6px solid $line;
  border-radius: 18px;
  cursor: pointer;
  width: 49%;
  position: relative;

  @include tablet {
    width: 100%;
    padding-bottom: 30px;

    &:first-child {
      margin-bottom: 20px;
    }

    svg {
      max-width: 270px;
    }
  }

  &.active {
    border: 1.6px solid $blue;
  }

  &__btn-edit {
    color: $paragraph;
  }

  &__name,
  &__method {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 2px;

    @include tablet {
      font-size: 16px;
    }
  }

  &__method {
    margin-bottom: 22px;
  }

  &__value {
    @include text-large-regular;
    color: $paragraph;
    padding-bottom: 18px;
  }

  .icon-checked-active {
    svg {
      width: 26px;
      height: 26px;
    }

    .is-reloading {
      animation: spin 1s infinite linear;
    }
  }
}

.box-top-up {
  border-radius: 18px;
  width: 49%;

  @include tablet {
    width: 100%;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  &>div {
    padding: 30px 36px;

    @include tablet {
      padding: 20px;
    }
  }

  &__label {
    @include text-medium-bold;
    color: $line;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  &__name {
    @include text-medium-bold;
    color: $paragraph;
  }
}