@import '../color-variables.scss';
@import '../mixins.scss';

.contact-us {
  .title-wrap {
    align-items: center;
    .title-contact-us {
      @include heading-4;
      color: $title;
    }
    padding-bottom: 26px;
  }
  .labelArea {
    color: $paragraph;
    margin-bottom: 4px;
  }
  .btn-submit {
    padding: 12px 24px;
  }
}
