@import '../color-variables.scss';
@import '../mixins.scss';

.create-webhook-container {
  .create-webhook {
    .title {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: $paragraph1;
    }
    &__header {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      position: relative;
    }
    &__identification {
      padding: 30px 40px;
      .title {
        color: $paragraph2;
      }
    }
  }
  .name {
    @include heading-4;
    align-items: center;
    margin-bottom: 3px;

    @include tablet {
      @include heading-6;
    }

    .title-mobile {
      @include tablet {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
      }
    }
  }
}
