@import '../color-variables.scss';
@import '../mixins.scss';

.dashboard-container {
  background: $card;
  border-radius: 6px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
  .main-pagination {
    position: fixed;
    bottom: 1%;
  }
  .react-resizable-handle {
    &::after {
      border-right: 2px solid rgba(255, 255, 255, 0.4);
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
      right: 3px;
      bottom: 3px;
      width: 8px;
      height: 8px;
    }
  }
  .recharts-wrapper .recharts-label-list .recharts-label {
    fill: $title;
  }

  .main-counter {
    height: 100%;
  }

  .visual-container {
    &__visualization {
      height: 90%;
      // padding-right: 15px;

      .main-table {
        // height: unset;
        overflow: auto;
      }

      .table-content {
        height: 80%;
        overflow: unset;

        th {
          padding-left: unset !important;
        }

        .table-pagination {
          background: $card;
          width: 100%;
          position: fixed;
          bottom: 0px;
          right: 0px;

          .data-length {
            font-size: 14px;
            color: $paragraph;
          }

          .app-pagination {
            margin: unset !important;
            padding: 25px 25px 20px 10px;

            & > li {
              font-size: 10px;
              border-radius: 4px;
            }
          }
        }
        .header-table {
          top: 45px;
          position: fixed;

          .input-search {
            padding: 16px;
            width: 160px;
          }
        }
      }

      .chart-content {
        height: 100%;
      }

      &__name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 53%;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
      }

      &__title {
        display: flex;
        margin-bottom: 20px;
        align-items: center;

        &__query-link {
          margin-left: 10px;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 30%;
          color: #03caff;
          font-size: 14px;
          line-height: 26px;
        }
      }

      &__barchart {
        width: 96% !important;
        height: 92% !important;
      }

      &__linechart {
        width: 96% !important;
        height: 92% !important;
      }

      &__error {
        width: 100%;
        height: 100%;
      }

      &--loading {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .app-tab {
      .tabs-container {
        background-color: #111213;
        border-radius: 4px;
        margin-bottom: 20px;
      }

      &__name-tab {
        margin-right: 0;
        border-radius: 4px;
        line-height: unset !important;

        &__detail {
          gap: 4px;
        }

        &:hover {
          background-color: #ffffff1a;
        }
      }

      &__name-tab[aria-selected='true'] {
        background-color: #444444;
        text-decoration: none;
      }

      .table-value {
        min-width: 100%;
        height: fit-content !important;
        border: 1px solid #747474;

        td,
        th {
          text-align: center;
          font-size: 12px;
          box-shadow: none;
          border-bottom: 1px solid #747474;
        }
        thead {
          .resizer {
            display: none;
          }
          tr {
            background-color: #444444;
            th {
              font-size: 12px;

              font-weight: 400;
            }
          }
        }
      }

      .select-visual-type {
        width: 40%;
        ::-webkit-scrollbar {
          display: none;
        }
        .visual-type-content {
          .app-select {
            &__menu {
              max-height: max-content;
            }
          }
        }
      }
    }
  }
  .main-header-dashboard-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tag {
      background: $gray-200;
      color: $gray-600;
    }
    .btn-save {
      background: #1e1870;
      color: #fff;
    }

    .btn-cancel {
      background: #e1e1f9;
      color: #1e1870;
    }

    .btn-vote {
      background: #e1e1f9;
      color: #1e1870;
      min-width: 60px;
    }

    button {
      &:hover {
        background-color: #c5c5db;
      }
    }

    .dashboard-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
  .main-grid-layout {
    width: 100%;
    max-height: calc(100% - 48px);
    overflow-y: overlay;
    border-top: 1px solid #2f3b58;

    .react-grid-item {
      a {
        text-decoration: underline;
      }
      background: rgba(16, 21, 48, 0.5);
      color: $title;
      overflow: hidden;
      cursor: grab;

      & > .react-resizable-handle.react-resizable-handle-se {
        bottom: 15px;
        right: 15px;
      }
    }

    .react-draggable-dragging {
      cursor: grabbing;
    }

    .box-layout {
      background: $card;
      border: 1px solid #465065;
      border-radius: 10px;
      position: relative;

      .box-chart {
        width: 100%;
        height: 100%;
        padding: 17px;
      }

      .box-text-widget {
        padding: 0 15px;
      }

      .widget-buttons {
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 15px;
      }
    }
  }
}
