@import '../color-variables.scss';
@import '../mixins.scss';

.main-content-dashboard-details {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
  
  .main-header-dashboard-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tag {
      background: $gray-200;
      color: $gray-600;
    }
    .btn-save {
      background: #1e1870;
      color: #fff;
    }

    .btn-cancel {
      background: #e1e1f9;
      color: #1e1870;
    }

    .btn-vote {
      background: #e1e1f9;
      color: #1e1870;
      min-width: 60px;
    }

    button {
      &:hover {
        background-color: #c5c5db;
      }
    }

    .dashboard-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }
  .main-grid-layout {
    width: 100%;
    margin-top: 20px;

    .react-grid-item {
      a {
        text-decoration: underline;
      }
      background: #ffeceb;
      color: $blackAlpha-900;
      overflow: hidden;
      cursor: grab;
    }

    .react-draggable-dragging {
      cursor: grabbing;
    }

    .box-layout {
      border: 1px dashed #808080;
      position: relative;

      .box-chart {
        overflow: auto;
        width: 100%;
        height: 100%;
      }

      .box-text-widget {
        padding: 10px 25px;
      }

      .btn-edit {
        position: absolute;
        cursor: pointer;
        top: 4px;
        right: 4px;
      }
    }
  }
}
