@import 'src/styles/abstracts/variables';
.modal-blocklens {
  header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: $color-white;
    background-color: $bg-blue-200;
  }
  .field-info {
    display: flex;
    flex-direction: row;
    margin-right: 33px;
    cursor: pointer;
    .button-copy {
      padding-left: 3px;
      font-size: 12px;
      color: $color-text-6;
    }
  }
}
.list-app-hp {
  max-width: 1240px;
  margin-top: 60px;
  width: 100%;
  .title-list-app {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    .text-title {
      color: #4b4b4b;
      font-size: 24px;
    }
  }
  .list-app-table-wrap {
    padding: 0px;
    padding-bottom: 30px;
    & div {
      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    .button-no-effect {
      color: $color-text-6;
      font-weight: 400;
      line-height: 16px;
      cursor: pointer;
      font-size: 12px;
    }
    .tr-list-app {

      &:hover {
        background-color: $bg-gray-2;
        cursor: pointer;
      }

      td {
        border-bottom: 1px solid $border-color-1;
      }
    }
    .gray-dot {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        left: -8px;
        bottom: 50%;
        transform: translate(50%, 50%);
        width: 4px;
        height: 4px;
        background-color: $bg-gray-3;
        border-radius: 99px;
      }
    }
    .name-column {
      color: $color-text-6;
    }
    .badge-apps {
      color: $color-white;
      background-color: $bg-badge-3;
      border-radius: 100px;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      text-transform: capitalize;
      margin-left: 10px;
    }

    .header-list-app {
      background-color: $bg-9;
      th {
        font-size: 11px;
      }
    }
  }
}
