@import '../color-variables.scss';
@import '../mixins.scss';

.no-app {
  &__title {
    @include heading-4;
    margin-bottom: 12px;
  }

  &__description {
    @include text-medium-regular;
    margin-bottom: 40px;
    color: $paragraph;
  }

  &__btn {
    @include text-medium-medium;
    padding: 12px 24px !important;
  }
}

.title-list-app {
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  .text-title {
    color: $title;
    @include heading-5;
  }
}

.list-app-hp {
  .number-app {
    @include text-medium-regular;
    margin-right: 20px;
    color: $title;

    span {
      color: $line;
    }
  }

  .btn-create {
    @include text-medium-medium;
  }

  .list-app-table-wrap {
    padding: 0 0 40px 0;

    .tr-list-app {
      &:hover {
        background-color: $bg2;
        cursor: pointer;
      }

      td {
        border-bottom: 1px solid $border;
        color: $title;
        @include text-medium-regular;

        padding: 13px 15px;

        &:first-child {
          padding-left: 40px;
        }

        &:last-child {
          padding-right: 40px;
        }
      }

      .status {
        padding: 6px 10px;
        @include text-tiny-regular;
        border-radius: 14px;
        display: inline-block;
        &.inactive {
          background: rgba(234, 84, 85, 0.14);
          color: $red;
        }
        &.active {
          background: rgba(40, 199, 111, 0.14);
          color: $green;
        }
      }
    }

    .header-list-app {
      th {
        @include text-small-bold;
        border-bottom: 0;
        color: $line;

        &:first-child {
          padding-left: 40px;
        }

        &:last-child {
          padding-right: 40px;
        }
      }
    }
  }
}

.user-graph {
  margin-top: 30px;
}

.legend {
  margin-left: 60px;

  div {
    @include text-medium-regular;
    color: $paragraph;
    margin-right: 30px;
    position: relative;
    padding-left: 23px;

    &:before {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;

      border-radius: 3px;
      top: 5px;
      left: 0;
    }

    &:first-child {
      &:before {
        background-color: $link;
      }
    }

    &:last-child {
      &:before {
        background-color: $yellow;
      }
    }
  }
}
