@import '../color-variables.scss';
@import '../mixins.scss';

* {
  line-height: 140%;
}

@font-face {
  font-family: 'Spline Sans Mono';
  src: url('../../assets/fonts/SplineSansMono-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Anderson Grotesk';
  src: url('../../assets/fonts/AndersonGrotesk.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Anderson Grotesk Bold';
  src: url('../../assets/fonts/AndersonGrotesk-Bold.otf');
  font-weight: 700;
}

.landing-page {
  background-image: url('../../assets/icons/bg-homepage.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-family: 'Anderson Grotesk', sans-serif;
}

.header-landing {
  position: fixed;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 9999;

  &.fixed {
    background-color: #000224;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1130px;
  }

  .menus {
    display: flex;
    align-items: center;
    .menu {
      font-family: 'Anderson Grotesk Bold', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: $title;
      display: block;
      margin-right: 40px;

      &:hover {
        color: $link;
        text-decoration: underline;
      }
    }
  }
}

.main-landing {
  max-width: 1130px;
  margin: 0 auto;

  .introduction {
    margin: 0 auto;
    padding-top: 260px;

    &__sub-text {
      font-weight: 400;
      font-size: 28px;
      text-align: center;
      color: $title;
      max-width: 744px;
      margin: 0 auto;
    }

    &__main-text {
      font-weight: 400;
      font-size: 80px;
      line-height: 120%;
      text-align: center;
      color: $title;
      max-width: 940px;
      margin: 0 auto;
      margin-top: 8px;
      font-family: 'Spline Sans Mono', sans-serif;

      span {
        color: $link;
      }
    }

    &__description {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: $title;
      max-width: 744px;
      margin: 60px auto;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }

  .image-main {
    margin: 160px 0 180px 0;

    img {
      margin: 0 auto;
    }
  }

  .categories {
    max-width: 792px;
    margin: 0 auto;

    .category {
      display: flex;
      justify-content: space-between;
      margin: 60px 0;

      &__name {
        font-weight: 400;
        font-size: 40px;
        color: $title;
      }

      &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: $title;
        max-width: 456px;
      }
    }

    .divider {
      width: 96px;
      height: 0.5px;
      background-color: $title;
    }
  }

  .use-cases {
    &__title {
      font-weight: 400;
      font-size: 80px;
      line-height: 120%;
      margin-top: 180px;
      font-family: 'Spline Sans Mono', sans-serif;

      span {
        color: $link;
      }
    }

    .use-case {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;

      &.reverse {
        flex-flow: row-reverse;
      }

      &__content {
        max-width: 456px;
      }

      &__name {
        font-weight: 400;
        font-size: 40px;
        line-height: 140%;
        color: $title;
        margin-bottom: 24px;
      }

      &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: $title;
      }
    }
  }

  .chart {
    margin-bottom: 200px;

    &__description {
      font-weight: 400;
      font-size: 32px;
      line-height: 140%;
      color: $title;
      max-width: 792px;
      margin: 120px auto;

      span {
        color: $link;
      }
    }
    img {
      margin: 0 auto;
    }
  }

  .feedback {
    &__heading {
      font-weight: 400;
      font-size: 80px;
      line-height: 120%;
      color: $title;
      margin-bottom: 80px;
      font-family: 'Spline Sans Mono', sans-serif;

      span {
        color: $link;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__item {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(34, 108, 255, 0.24) 100%
      );
      border: 1px solid rgba(34, 108, 255, 0.24);
      filter: drop-shadow(0px 18px 24px rgba(136, 225, 220, 0.08));
      backdrop-filter: blur(8px);
      border-radius: 40px;
      padding: 40px;
      width: 31%;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: $title;
    }

    &__name {
      margin: 24px 0 8px;
    }
  }

  .get-start {
    margin: 160px 0;
    &__heading {
      font-weight: 400;
      font-size: 80px;
      line-height: 120%;
      text-align: center;
      color: $title;
      margin-bottom: 60px;
      font-family: 'Spline Sans Mono', sans-serif;

      span {
        color: $link;
      }
    }

    &__description {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: $title;
      max-width: 744px;
      margin: 0 auto;
    }

    &__btn {
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
  }
}

.footer-landing {
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
  max-width: 1130px;
  margin: 0 auto;
  padding: 80px 0 70px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__box-info {
    width: 45%;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $title;

    img {
      width: 155px;
    }
  }

  &__description {
    max-width: 420px;
    margin: 24px 0;
  }

  &__name, &__description {
    opacity: 0.6;
  }

  &__menus {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    width: 25%;
    color: $title;
  }

  &__menu-item {
    display: block;
    margin-bottom: 24px;
    opacity: 0.6;

    &:nth-child(2) {
      margin-top: 24px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.btn-primary {
  background: linear-gradient(225deg, #226cff 14.89%, #1084ff 85.85%);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 12px 24px;
  color: $title;
  font-family: 'Anderson Grotesk Bold', sans-serif;

  &:hover {
    background: #226cff;
  }
}
