.profile-page {
  justify-content: center;
  min-height: calc(100vh - 135px);
  margin-top: 70px;
  align-items: center;
}

.profile {
  border: 1px solid #E0E0E0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin: 0 20px;
  width: 1180px;

  .menu-left {
    width: 300px;
    border-right: 1px solid #E0E0E0;

    .tab-item {
      outline: none;
      border-bottom: 1px solid #E0E0E0;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      color: #4C84FF;
      border-radius: 0;
      padding: 16px 21px;
      justify-content: flex-start;
      box-shadow: none;

      &:last-child {
        border-bottom: 0;
      }

      &[aria-selected=true] {
        background: #254CDD;
        color: #ffffff;
      }
    }
  }
}

.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding: 25px 20px 20px 21px;
  border-bottom: 1px solid #E0E0E0;
  color: #4B4B4B;
}

.my-profile {
  .profile-detail {
    margin: 40px 30px 16px 30px;
    border: 1px solid #CACED4;
    border-radius: 8px 8px 0 0;

    .info-item {
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #212122;
      padding: 18px 21px;

      .info-title {
        width: 200px;
        font-size: 13px;
        line-height: 18px;
        color: #A0A4AC;
      }

      .bg-edit {
        cursor: pointer;
      }
    }
  }

  .link-change-password {
    margin-left: 30px;
    display: block;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #4C84FF;
  }

  .btn-sign-out {
    padding-top: 30px;
    border-top: 1px solid #CACED4;
    margin-left: 30px;
    margin-bottom: 40px;

    button {
      text-transform: uppercase;
      background: #F0F0F0;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
      color: #656565;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
    }
  }
}