@import 'src/styles/abstracts/variables';
.profile-page {
  justify-content: center;
  min-height: calc(100vh - 135px);
}

.profile {
  border: 1px solid #e0e0e0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin: 0 20px;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  max-width: 1240px;

  .menu-left {
    width: 300px;
    border-right: 1px solid #e0e0e0;

    .tab-item {
      outline: none;
      border-bottom: 1px solid #e0e0e0;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: #4c84ff;
      border-radius: 0;
      padding: 16px 21px;
      justify-content: flex-start;
      box-shadow: none;

      &:last-child {
        border-bottom: 0;
      }

      &[aria-selected='true'] {
        background: #254cdd;
        color: #ffffff;
      }
    }
  }
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding: 25px 20px 20px 21px;
  border-bottom: 1px solid #e0e0e0;
  color: #4b4b4b;
}

.my-profile {
  .profile-detail {
    margin: 0 30px 16px 30px;
    border: 1px solid #caced4;
    border-radius: 8px 8px 0 0;

    .info-item {
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #212122;
      padding: 18px 21px;

      .info-title {
        width: 200px;
        font-size: 13px;
        line-height: 18px;
        color: #a0a4ac;
      }

      .input-field {
        font-size: 14px;
        min-width: 300px;
      }
    }
  }

  .link-change-password {
    margin-left: 30px;
    display: block;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #4c84ff;
  }

  .btn-sign-out {
    padding-top: 30px;
    border-top: 1px solid #caced4;
    margin-left: 30px;
    margin-bottom: 40px;

    button {
      text-transform: uppercase;
      background: #f0f0f0;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      color: #656565;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
    }
  }
}

.tab-plan {
  margin-bottom: 50px;
  .plans-wrap {
    .upgrade-plans {
      margin-bottom: 25px;
    }
    .plan-item-container {
      cursor: pointer;
      padding: 0;
      &:hover {
        border: 1px solid #a246cd;
      }
      .status-plan {
        min-height: 37px;
        padding-top: 10px;
        position: relative;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        .icon-done {
          position: absolute;
          left: 10px;
        }
        .active {
          color: #46cd92;
        }
        .selected {
          color: #cd4646;
        }
      }
      .plan-item {
        position: relative;
        padding: 0 16px 70px 16px;
        .plan-item-desc {
          text-align: center;
        }
        .price-per-month {
          color: $color-accent-7;
          font-size: 14px;
        }
        .allow-title {
          font-size: 14px;
          font-weight: 600;
          color: #1B2559;
        }
        .features {
          font-size: 13px;
          margin-left: 20px;
          margin-top: 5px;
          li {
            font-weight: 600;
            padding: 3px 0;
            color: #1B2559;
          }
        }
        .currency, .time {
          font-size: 24px;
        }
        .time {
          color: $text-color-100;
        }
        .price-plan {
          font-size: 48px;
          align-items: baseline;
          justify-content: center;
          color: #1B2559;
          font-weight: 600;
        }

        .link-contact {
          margin: 25px 0;
          display: block;
        }
      }
    }
    .plan-item-container.active {
      border: 1px solid #254cdd;
      .plan-item-desc {
        color: #254cdd;
      }
    }

    .plan-item-container.selected {
      border: 1px solid #a246cd;
    }
  }
}

.bill-tabs {
  margin-top: 16px;
  .bill-tab {
    padding: 10px 25px 20px;
    &[aria-selected='true'] {
      box-shadow: none;
      border-bottom: 3px solid #171717;
    }
    font-weight: 500;
    transition: border 0.5s ease;
    border-bottom: 3px solid #ececec;
  }
}
.stripe-wrap {
  margin-top: 20px;
  .stripe-detail {
    display: flex;
    background-color: #f8f7f7;
    padding: 15px;
    align-items: flex-start;
    border-radius: 4px;
    margin-top: 10px;
    .stripe-title {
      width: 20%;
      color: #a0a4ac;
    }
    .stripe-status {
      width: 60%;
      display: flex;
      align-items: center;
      gap: 4px;
      .badge-package {
        background-color: #caced4;
        font-size: 8px;
        padding: 2px 6px;
        border-radius: 999px;
        color: #fff;
      }
    }
    .stripe-action {
      display: flex;
      justify-content: end;
      width: 20%;
    }
    .stripe-price {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
