@import '../color-variables';
@import '../variables';
@import '../mixins.scss';

.queries-page-header-buttons {
  margin-bottom: 20px;

  .query-button {
    margin-left: auto;
  }
}

.queries-page {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .recharts-wrapper .recharts-label-list .recharts-label {
    fill: #fafafa;
  }

  @include desktop {
    flex-direction: column-reverse;
  }

  .custom-editor {
    height: 250px !important;

    &.expland {
      height: 530px !important;
    }

    .ace_print-margin {
      display: none;
    }
  }

  .control-editor {
    padding: 16px 12px;
    display: flex;
    justify-content: space-between;

    .custom-button {
      display: flex;
      flex-direction: row;
      position: relative;

      & > button {
        margin-right: 4px;
        border-radius: 8px;
        padding: 8px;
      }

      .btn-setting {
        margin-right: 4px;
        border-radius: 8px;

        & > button {
          padding: 0;
        }

        .menu-panel {
          position: absolute;
          width: 100%;
          top: -54px;
          left: 44px;
          z-index: 1000;
          border-radius: 6px;
          padding: 8px;
          min-width: 330px;

          &.theme-light {
            background-color: white;
            color: #1d1d20;
          }

          &.theme-dark {
            background-color: #1d1d20;
          }

          @include mobile {
            min-width: 260px;
          }

          &__item {
            cursor: pointer;
            padding: 6px 8px;

            &.theme-light {
              &:hover {
                background-color: #f3f5f7;
              }
            }

            &.theme-dark {
              &:hover {
                background-color: #232426;
              }
            }

            &--key {
              padding: 0 8px;
              margin-left: 2px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }

  &__right-side {
    width: calc(100% - 380px - 20px);

    @include desktop {
      width: 100%;
    }

    .empty-table {
      height: 168px;
      border: 1px solid #747474;
      margin-top: 32px;
    }

    .visual-table {
      margin-top: 20px;
      border: 1px solid #747474;
      .tr-list {
        td {
          border-bottom: none;
        }
      }
    }
  }

  .schema-detail-title {
    cursor: default;
  }

  .block-describe {
    padding: 2px;

    cursor: pointer;
    &:hover {
      background-color: #ffffff1a;
    }
  }

  .visual-container {
    &__visualization {
      min-height: 500px;
      height: 540px;
      border: 1px solid $border;
      margin-bottom: 20px;

      &__title {
        padding: 0 10px;
        margin-bottom: 10px;
      }

      &--bar, &--line, &--scatter {
        width: 96% !important;
        height: 92% !important;
      }

      &--areachart {
        width: 96% !important;
        height: 96% !important;
      }

      &__error {
        width: 100%;
        height: 100%;
      }
    }

    .app-tab {
      .tabs-container {
        background-color: #111213;
        border-radius: 4px;
        margin-bottom: 20px;
      }

      &__name-tab {
        margin-right: 0;
        border-radius: 4px;
        line-height: unset !important;

        &__detail {
          gap: 4px;
        }

        &:hover {
          background-color: #ffffff1a;
        }
      }

      &__name-tab[aria-selected='true'] {
        background-color: #444444;
        text-decoration: none;
      }

      .table-value {
        min-width: 100%;
        height: fit-content !important;
        border: 1px solid #747474;

        td,
        th {
          text-align: center;
          font-size: 12px;
          box-shadow: none;
          border-bottom: 1px solid #747474;
        }
        thead {
          .resizer {
            display: none;
          }
          tr {
            background-color: #444444;
            th {
              font-size: 12px;

              font-weight: 400;
            }
          }
        }
      }

      .select-visual-type {
        width: 40%;
        ::-webkit-scrollbar {
          display: none;
        }
        .visual-type-content {
          .app-select {
            &__menu {
              max-height: max-content;
            }
          }
        }
      }
    }
  }
}
