@import '../color-variables';
@import '../variables';
@import '../mixins.scss';

.queries-page {
  display: flex;
  flex-direction: row;

  @include desktop {
    flex-direction: column-reverse;
  }

  .custom-editor {
    height: 500px !important;

    &.expland {
      height: 400px !important;
    }

    .ace_print-margin {
      display: none;
    }
  }

  .control-editor {
    padding: 16px 12px;
    background-color: #111213;
    display: flex;
    justify-content: space-between;

    .custom-button {
      display: flex;
      flex-direction: row;

      & > button {
        margin-right: 4px;
        border-radius: 8px;
        padding: 8px;
      }
    }
  }
  .schema-detail-title {
    cursor: default;

    .table-name {
      &:hover {
        background: transparent;
      }
    }
  }
  .block-describe {
    padding: 2px;

    cursor: pointer;
    &:hover {
      background-color: #ffffff1a;
    }
  }

  .visual-container {
    .app-tab {
      .tabs-container {
        background-color: #111213;
        border-radius: 4px;
        margin-bottom: 20px;
      }

      &__content-tab {
        height: 500px;
      }

      &__name-tab {
        margin-right: 0;
        border-radius: 4px;
        line-height: unset !important;

        &__detail {
          gap: 4px;
        }

        &:hover {
          background-color: #ffffff1a;
        }
      }

      &__name-tab[aria-selected='true'] {
        background-color: #444444;
        text-decoration: none;
      }

      .table-value {
        border: 1px solid #747474;

        td,
        th {
          text-align: center;
          font-size: 12px;
          box-shadow: none;
          border-bottom: 1px solid #747474;
        }
        thead {
          .resizer {
            display: none;
          }
          tr {
            background-color: #444444;
            th {
              font-size: 12px;

              font-weight: 400;
            }
          }
        }
      }

      .select-visual-type {
        width: 40%;
        ::-webkit-scrollbar {
          display: none;
        }
        .visual-type-content {
          .app-select {
            &__menu {
              max-height: max-content;
            }
          }
        }
      }
    }
  }
}
