@import '../color-variables';
@import '../variables';
@import '../mixins.scss';

.workspace-page {
  display: flex;
  gap: 10px;
  height: 860px;

  &__sidebar {
    display: flex;
    height: 100%;

    &__categories {
      padding: 14px;

      background-color: #101530;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: all 0.2s ease;
    }

    &__categories.hidden-sidebar-content {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &__content {
      overflow-y: scroll;
      height: 100%;
      flex: 1;
      border-left: 1px solid #2f3b58;
      background-color: #101530;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;

      &.hidden-sidebar {
        overflow: hidden;
        animation: hiddenSidebar 0.5s forwards;
        opacity: 0;
      }

      &.show-sidebar {
        overflow: hidden;
        animation: showSidebar 0.5s forwards;
      }

      &__work-place-detail {
        @include text-small-regular;
        color: $paragraph;
        padding: 3px 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        transition: all 0.2s ease;
        position: relative;

        .bg-kebab_icon {
          display: none;
        }
        &:hover {
          background-color: #1a203b;
          .bg-kebab_icon {
            display: block;
          }
        }
      }
      .work-place-active {
        color: $title;
      }
      &__work-place-wrap {
        width: 240px;
        overflow-y: scroll;
        height: 100%;

        &__work-place {
          padding: 16px 16px 8px 16px;
          display: flex;
          @include text-medium-bold;
          text-transform: uppercase;
          align-items: center;
          justify-content: space-between;
        }
        &__work-place-content {
          padding-left: 16px;
          padding-right: 16px;
          justify-content: space-between;
          display: flex;
          align-items: center;
          margin-bottom: 12px;
        }
      }
      &__explore-wrap {
        overflow-y: scroll;
        height: 100%;

        width: 240px;

        &__content {
          @include text-small-regular;
          padding-left: 16px;
          padding-right: 16px;
          color: $paragraph;
          margin-bottom: 12px;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: space-between;
          .bg-arrow_icon {
            transition: 0.2s all ease;
          }
          .bg-arrow_icon.collapsed {
            transform: rotate(90deg);
          }
        }
        .chain-info-desc {
          @include text-small-regular;
          margin-top: 46px;
          color: $paragraph;
          background-color: #1a203b;

          padding-bottom: 16px;

          &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px 16px;
            background-color: $disable;

            margin-bottom: 12px;
            .header-icon {
              display: flex;
              align-items: center;
              gap: 10px;
              justify-content: end;
              div {
                cursor: pointer;
              }
            }
          }
        }
        &__title {
          display: flex;
          padding: 16px 16px 8px 16px;
          @include text-medium-bold;
          text-transform: uppercase;
          align-items: center;
          justify-content: space-between;
        }

        &__content-collapse {
          padding-bottom: 10px;
          .chain-info-title {
            @include text-small-regular;
            color: $paragraph;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            padding: 6px 16px;
            transition: 0.2s all ease;

            .add-query-icon {
              opacity: 0;
              position: relative;
            }
            &:hover {
              background-color: #1a203b;
              .add-query-icon {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &__editor {
    width: calc(100% - 300px - 10px);

    &__dashboard,
    &__query {
      height: 100%;

      .dashboard-container,
      .query-container {
        height: calc(100% - 50px - 8px);
      }
    }

    &--expand {
      width: calc(100% - 60px);
    }

    &__header {
      margin-bottom: 8px;
      padding: 9px 20px;
      background: $card;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__left {
        display: flex;
        align-items: center;
        gap: 14px;

        .btn-back {
          &:hover {
            background-color: $bg1;
          }
        }

        .item-desc {
          display: flex;
          align-items: center;
          gap: 8px;
          .user-name {
            color: $paragraph;
          }
          img {
            width: 26px;
            height: 26px;
          }
        }
      }

      &__right {
        display: flex;
        align-items: center;

        .btn-list {
          padding: 0;
          &:hover {
            background-color: $bg1;
          }
        }

        .chakra-menu__menu-list {
          background-color: $border;
          border: unset;
          min-width: 109px;
        }

        .chakra-menu__menuitem {
          &:focus {
            background: $main;
          }
        }

        .switch-icon {
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }
    }

    .header-tab {
      padding: 12px 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #2f3b58;

      &__info {
        display: flex;
        align-items: center;

        .network-icons {
          margin-right: 24px;
        }
      }

      .btn-expand {
        height: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .hidden-sidebar {
    animation: hiddenSidebar 0.5s forwards;
    opacity: 0;
  }

  .show-sidebar {
    animation: showSidebar 0.5s forwards;
  }
  .dashboard-container {
    position: relative;

    .float-add-button {
      position: absolute;
      bottom: 18px;
      right: 18px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 42px;
      height: 42px;
      background: linear-gradient(268.85deg, #226cff 22.48%, #1084ff 83.59%);
      border-radius: 50%;

      &:hover {
        background: $blue;
      }
    }
  }
}

@keyframes hiddenSidebar {
  from {
    width: 240px;
  }
  to {
    width: 0;
    padding: 0;
  }
}

@keyframes showSidebar {
  0% {
    opacity: 0;
    width: 0px;
    padding: 0;
  }
  99% {
    opacity: 0.1;
    width: 240px;
  }
  100% {
    opacity: 1;
  }
}
