@import 'src/styles/Icons';

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-BoldItalic.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}

iframe {
  display: none !important;
}

.select-app {
  &__control {
    height: 48px;
    border-color: #e0e5f2 !important;
    cursor: pointer;
  }
}

.text-error {
  font-weight: 400;
  color: #ee5d50;
  font-size: 14px;
}

.short-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  width: 350px;
}
