.bg-address_label {
  width: 26px;
  height: 26px;
  background: url('../assets/icons/css_sprites.png') -111px -60px;
}

.bg-copy {
  width: 9px;
  height: 9px;
  background: url('../assets/icons/css_sprites.png') -197px -10px;
}

.bg-copy_blue {
  width: 14px;
  height: 16px;
  background: url('../assets/icons/css_sprites.png') -161px -81px;
}

.bg-detail_info {
  width: 14px;
  height: 14px;
  background: url('../assets/icons/css_sprites.png') -161px -117px;
}

.bg-done {
  width: 14px;
  height: 14px;
  background: url('../assets/icons/css_sprites.png') -10px -156px;
}

.bg-down_arrow {
  width: 12px;
  height: 7px;
  background: url('../assets/icons/css_sprites.png') -76px -156px;
}

.bg-edit {
  width: 15px;
  height: 15px;
  background: url('../assets/icons/css_sprites.png') -161px -46px;
}

.bg-ethereum_black {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/css_sprites.png') -61px -10px;
}

.bg-ethereum_blue {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/css_sprites.png') -10px -61px;
}

.bg-lock {
  width: 18px;
  height: 20px;
  background: url('../assets/icons/css_sprites.png') -97px -111px;
}

.bg-NFT_label {
  width: 27px;
  height: 25px;
  background: url('../assets/icons/css_sprites.png') -10px -111px;
}

.bg-see_more {
  width: 16px;
  height: 16px;
  background: url('../assets/icons/css_sprites.png') -161px -10px;
}

.bg-shield {
  width: 12px;
  height: 12px;
  background: url('../assets/icons/css_sprites.png') -44px -156px;
}

.bg-solana_black {
  width: 31px;
  height: 31px;
  background: url('../assets/icons/css_sprites.png') -10px -10px;
}

.bg-solana_blue {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/css_sprites.png') -60px -61px;
}

.bg-bsc_blue {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/css_sprites.png') -111px -10px;
}

.bg-google {
  width: 20px;
  height: 21px;
  background: url('../assets/icons/css_sprites.png') -57px -111px;
}
