.icon-bitcoin {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -10px -10px;
}

.icon-polygon {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -50px -10px;
}

.icon-bsc {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -10px -50px;
}

.icon-solana {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -50px -50px;
}

.icon-ethereum {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -90px -10px;
}

.icon-aptos {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png')-50px -90px;
}

.icon-optimism {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -90px -50px;
}

.icon-arbitrum {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -10px -90px;
}

.icon-bitcoin-inactive {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks-inactive.png') -10px -50px;
}

.icon-polygon-inactive {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks-inactive.png') -50px -50px;
}

.icon-bsc-inactive {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks-inactive.png') -10px -10px;
}

.icon-solana-inactive {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks-inactive.png') -90px -10px;
}

.icon-ethereum-inactive {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks-inactive.png') -10px -50px;
}

.icon-aptos-inactive {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks-inactive.png')-50px -90px;
}

.icon-optimism-inactive {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks-inactive.png') -90px -50px;
}

.icon-arbitrum-inactive {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks-inactive.png') -10px -90px;
}

.icon-eye-close {
  width: 21px;
  height: 15px;
  background: url('../assets/icons/icon_app.png') -92px -10px;
}

.icon-eye {
  width: 21px;
  height: 12px;
  background: url('../assets/icons/icon_app.png') -92px -45px;
}

.icon-trash {
  width: 18px;
  height: 18px;
  background: url('../assets/icons/icon_app.png') -44px -52px;
}

.icon-google {
  width: 22px;
  height: 22px;
  background: url('../assets/icons/icon_app.png') -10px -10px;
}

.icon-arrow-left {
  width: 14px;
  height: 24px;
  background: url('../assets/icons/icon_app.png') -10px -52px;
}

.icon-plus-circle {
  width: 16px;
  height: 16px;
  background: url('../assets/icons/icon_app.png') -10px -96px;
}

.icon-arrow-down {
  width: 10px;
  height: 5px;
  background: url('../assets/icons/icon_app.png') -46px -96px;
}

.icon-settings {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_app.png') -52px -10px;
}

.icon-delete {
  width: 187px;
  height: 128px;
  background: url('../assets/icons/icon_modal.png') -10px -180px;
}

.icon-add-app {
  width: 168px;
  height: 150px;
  background: url('../assets/icons/icon_modal.png') -227px -10px;
}

.icon-sent-mail {
  width: 197px;
  height: 150px;
  background: url('../assets/icons/icon_modal.png') -10px -10px;
}

.icon-search {
  width: 14px;
  height: 14px;
  background: url('../assets/icons/icon_app2.png') -46px -112px;
}

.icon-checkbox {
  width: 24px;
  height: 24px;
  background: url('../assets/icons/icon_app2.png') -80px -10px;
}

.icon-checkbox-checked {
  width: 24px;
  height: 24px;
  background: url('../assets/icons/icon_app2.png') -10px -68px;
}

.icon-inactive {
  width: 18px;
  height: 18px;
  background: url('../assets/icons/icon_app2.png') -124px -10px;
}

.icon-active {
  width: 18px;
  height: 18px;
  background: url('../assets/icons/icon_app2.png') -124px -48px;
}

.icon-arrow-right {
  width: 12px;
  height: 12px;
  background: url('../assets/icons/icon_action.png') -10px -89px;
}

.icon-upload {
  width: 50px;
  height: 38px;
  background: url('../assets/icons/icon_app2.png') -10px -10px;
}

.icon-info {
  width: 18px;
  height: 20px;
  background: url('../assets/icons/icon_app2.png') -54px -68px;
}

.icon-filter {
  width: 12px;
  height: 8px;
  background: url('../assets/icons/icon_app2.png') -92px -68px;
}

.icon-download {
  width: 19px;
  height: 19px;
  background: url('../assets/icons/icon_action.png') -50px -10px;
}

.icon-link-top-active {
  width: 19px;
  height: 18px;
  background: url('../assets/icons/icon_action.png') -10px -51px;
}

.icon-filter-table {
  width: 18px;
  height: 18px;
  background: url('../assets/icons/icon_action.png') -89px -10px;
}

.icon-link {
  width: 20px;
  height: 21px;
  background: url('../assets/icons/icon_action.png') -10px -10px;
}

.icon-link-top {
  width: 19px;
  height: 18px;
  background: url('../assets/icons/icon_action.png') -49px -51px;
}
.icon-retry {
  width: 18px;
  height: 18px;
  background: url('../assets/icons/icon_action.png') -89px -48px;
}

.icon-download-table {
  width: 21px;
  height: 20px;
  background: url('../assets/icons/icon_mobile.png') -62px -10px;
}

.icon-filter-mobile {
  width: 32px;
  height: 32px;
  background: url('../assets/icons/icon_mobile.png') -10px -10px;
}

.icon-minus {
  width: 16px;
  height: 2px;
  background: url('../assets/icons/icon_mobile.png') -103px -10px;
}

.icon-plus {
  width: 16px;
  height: 16px;
  background: url('../assets/icons/icon_mobile.png') -50px -62px;
}

.icon-menu-mobile {
  width: 20px;
  height: 18px;
  background: url('../assets/icons/icon_mobile.png') -10px -62px;
}

.icon-busd {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_currency.png') -10px -50px;
}

.icon-usdt {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_currency.png') -50px -10px;
}

.icon-usdc {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_currency.png') -10px -10px;
}

.icon-tone {
  width: 24px;
  height: 24px;
  background: url('../assets/icons/icon_social_media.png') -54px -10px;
}

.icon-telegram {
  width: 24px;
  height: 25px;
  background: url('../assets/icons/icon_social_media.png') -10px -10px;
}

.icon-vector-right {
  width: 12px;
  height: 12px;
  background: url('../assets/icons/icon_social_media.png') -10px -55px;
}

.icon-no-data {
  width: 156px;
  height: 152px;
  background: url('../assets/icons/NoData.png') -10px -10px;
}

.icon-query-back-header {
  width: 11px;
  height: 18px;
  background: url('../assets/icons/icon_query.png') -121px -4px;
}

.icon-query-delete {
  width: 14px;
  height: 14px;
  background: url('../assets/icons/icon_query.png') -80px -88px;
}

.icon-query-fork {
  width: 14px;
  height: 16px;
  background: url('../assets/icons/icon_query.png') -10px -88px;
}

.icon-query-setting {
  width: 15px;
  height: 15px;

  background: url('../assets/icons/icon_query.png') -95px -46px;
}
.icon-query-share {
  width: 16px;
  height: 14px;
  background: url('../assets/icons/icon_query.png') -10px -88px;
}

.icon-query {
  width: 16px;
  height: 16px;
  background: url('../assets/icons/icon_query.png') -95px -10px;
}

.icon-query-expand {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_query.png') -55px -10px;
}

.icon-query-list {
  width: 25px;
  height: 20px;
  background: url('../assets/icons/icon_query.png') -10px -10px;
}

.icon-query-edit {
  width: 17px;
  height: 16px;
  background: url('../assets/icons/icon_query.png') -48px -50px;
}

.icon-run-query {
  width: 18px;
  height: 18px;
  background: url('../assets/icons/icon_query.png') -10px -50px;
}
