.icon-address_label {
  width: 25px;
  height: 26px;
  background: url('../assets/icons/css_sprites.png') -10px -111px;
}

.icon-copy {
  width: 9px;
  height: 9px;
  background: url('../assets/icons/css_sprites.png') -197px -10px;
}

.icon-copy_blue {
  width: 14px;
  height: 16px;
  background: url('../assets/icons/css_sprites.png') -161px -81px;
}

.icon-detail_info {
  width: 14px;
  height: 14px;
  background: url('../assets/icons/css_sprites.png') -161px -117px;
}

.icon-done {
  width: 14px;
  height: 14px;
  background: url('../assets/icons/css_sprites.png') -10px -157px;
}

.icon-down_arrow {
  width: 12px;
  height: 7px;
  background: url('../assets/icons/css_sprites.png') -109px -157px;
}

.icon-edit {
  width: 15px;
  height: 15px;
  background: url('../assets/icons/css_sprites.png') -161px -46px;
}

.icon-ethereum_blue {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/css_sprites.png') -61px -10px;
}

.icon-ethereum_black {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/css_sprites.png') -10px -61px;
}

.icon-gray_down_arrow {
  width: 13px;
  height: 8px;
  background: url('../assets/icons/css_sprites.png') -76px -157px;
}

.icon-lock {
  width: 18px;
  height: 20px;
  background: url('../assets/icons/css_sprites.png') -95px -111px;
}

.icon-NFT_label {
  width: 27px;
  height: 25px;
  background: url('../assets/icons/css_sprites.png') -111px -60px;
}

.icon-see_more {
  width: 16px;
  height: 16px;
  background: url('../assets/icons/css_sprites.png') -161px -10px;
}

.icon-shield {
  width: 12px;
  height: 12px;
  background: url('../assets/icons/css_sprites.png') -44px -157px;
}

.icon-solana_black {
  width: 31px;
  height: 31px;
  background: url('../assets/icons/css_sprites.png') -10px -10px;
}

.icon-solana_blue {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/css_sprites.png') -60px -61px;
}

.icon-bsc_blue {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/css_sprites.png') -111px -10px;
}

.icon-google {
  width: 20px;
  height: 21px;
  background: url('../assets/icons/css_sprites.png') -55px -111px;
}

.icon-app-nft {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/icon-app.png') -5px -5px;
}

.icon-app-address {
  width: 30px;
  height: 30px;
  background: url('../assets/icons/icon-app.png') -45px -5px;
}